<ngb-alert [dismissible]="false" type="danger">
  <fa-icon [icon]="faFire" class="logo-icon"></fa-icon>
  Bookie is down!
  <span class="badge badge-light">43</span>
</ngb-alert>

<ngb-alert [dismissible]="false" type="danger">
  <fa-icon [icon]="faFire" class="logo-icon"></fa-icon>
  Something else is down again!
</ngb-alert>

<ngb-alert [dismissible]="false" type="danger">
  <fa-icon [icon]="faFire" class="logo-icon"></fa-icon>
  Another thing is down!
</ngb-alert>

<ngb-alert [dismissible]="false" type="warning">
  <fa-icon [icon]="faExclamationTriangle" class="logo-icon"></fa-icon> 
  Yet another thing is slow!
</ngb-alert>
