<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- note you use user property before the
      ngFor. Note you are creating the link that
      will be created IF you click on that link-->
      <a
      [routerLink]="['/users',user.id,user.name]"
        href="#"
        class="list-group-item"
        *ngFor="let user of users">
        {{ user.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!--<app-user></app-user>-->
      <router-outlet></router-outlet>
  </div>
</div>
