<div class="card" [class.card-danger]="service.status !== 'healthy'">
  <div class="card-body">
    <div class="card-title">
    <fa-icon
      *ngIf="service.status === 'healthy'; else dead"
      [icon]="faSmile"
      class="status-icon d-inline">
    </fa-icon>
    <ng-template #dead>
      <fa-icon [icon]="faSkull" class="status-icon d-inline"></fa-icon>
    </ng-template>
      {{ service.service_name }}
    </div>
    <div class="card-text">
      <div>
        <fa-icon [icon]="faServer"></fa-icon>
        {{ service.hostname }}
      </div>
      <div>
        <fa-icon [icon]="faBuilding"></fa-icon>
        {{ service.datacenter }}
      </div>
      <div>
        <fa-icon [icon]="faAsterisk"></fa-icon>
        {{ service.environment }}
      </div>
    </div>
  </div>
</div>
